<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.mybatis.dao.StudentMapper">
	<select id="selectStudent" resultType="student">
		select * from student
		where studentno = #{studentno}
	</select>

	<select id="selectStudentByCondition" resultType="student">
		select * from student
		where studentno = #{studentno} and loginpwd = #{loginpwd}
	</select>
</mapper>