<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xw.mybatis.dao.WebsiteTagMapper">
  <resultMap id="BaseResultMap" type="com.xw.mybatis.bean.WebsiteTag">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="type_value" jdbcType="VARCHAR" property="typeValue" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_by_name" jdbcType="VARCHAR" property="createByName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_by_name" jdbcType="VARCHAR" property="updateByName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_del" jdbcType="INTEGER" property="isDel" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, type, type_value, create_by, create_by_name, create_time, update_by, update_by_name, 
    update_time, is_del
  </sql>
</mapper>